 .u-section-1 {
  min-height: 258px;
  background-image: none;
}

.u-section-1 .u-group-1 {
  width: 1140px;
  min-height: 228px;
  height: auto;
  margin: 30px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding-top: 20px;
  padding-bottom: 2px;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.8;
  margin: 19px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 418px;
    margin-top: 46px;
    margin-right: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-1 .u-text-1 {
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-text-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
    min-height: 446px;
    margin-top: 55px;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
    min-height: 480px;
    margin-top: 38px;
    margin-right: auto;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 718px;
}

.u-section-2 .u-accordion-1 {
  width: 800px;
  margin: 21px auto;
}

.u-section-2 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 29px;
}

.u-section-2 .u-text-1 {
  margin: 0 1px;
}

.u-section-2 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-2 .u-text-2 {
  margin: 0;
}

.u-section-2 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-2 .u-text-3 {
  margin: 0;
}

.u-section-2 .u-accordion-link-4 {
  background-image: none;
  font-weight: 700;
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-4 {
  min-height: 966px;
}

.u-section-2 .u-container-layout-4 {
  padding: 13px 30px;
}

.u-section-2 .u-text-4 {
  margin-bottom: 0;
  margin-top: 17px;
}

.u-section-2 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-table-1 {
  width: 536px;
  margin: 20px auto 0 0;
}

.u-block-0ebf-46 {
  height: 46px;
}

.u-block-0ebf-77 {
  height: 46px;
}

.u-section-2 .u-text-7 {
  margin: 7px 0 0;
}

.u-section-2 .u-text-8 {
  margin: -6px 515px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-10 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-11 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-12 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-2 .u-accordion-link-5 {
  background-image: none;
  font-weight: 700;
  padding: 30px;
}

.u-section-2 .u-icon-5 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-5 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-accordion-link-6 {
  background-image: none;
  font-weight: 700;
  padding: 30px;
}

.u-section-2 .u-icon-6 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-6 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-accordion-link-7 {
  background-image: none;
  font-weight: 700;
  padding: 30px;
}

.u-section-2 .u-icon-7 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-7 {
  min-height: 744px;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-text-13 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-text-14 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-15 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-16 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-17 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-18 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-2 .u-text-19 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-20 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-2 .u-accordion-link-8 {
  background-image: none;
  font-weight: 700;
  padding: 30px;
}

.u-section-2 .u-icon-8 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-8 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px;
}

.u-section-2 .u-text-21 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-22 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-2 .u-accordion-link-9 {
  background-image: none;
  font-weight: 700;
  padding: 30px;
}

.u-section-2 .u-icon-9 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-9 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px;
}

.u-section-2 .u-text-23 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-24 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-2 .u-accordion-link-10 {
  background-image: none;
  font-weight: 700;
  padding: 30px;
}

.u-section-2 .u-icon-10 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-10 {
  min-height: 268px;
}

.u-section-2 .u-container-layout-10 {
  padding: 30px;
}

.u-section-2 .u-text-25 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-text-26 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-27 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-28 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

@media (max-width: 991px) {
  .u-section-2 .u-accordion-1 {
    width: 720px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 435px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-accordion-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-table-1 {
    width: 520px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 295px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-accordion-1 {
    width: 340px;
  }

  .u-section-2 .u-table-1 {
    width: 320px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 95px;
  }
} .u-section-3 {
  background-image: url("images/nn.jpg");
  background-position: 50% 50%;
  min-height: 288px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 288px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 6px;
}

.u-section-3 .u-text-1 {
  margin: 48px 19px 0 53px;
}

.u-section-3 .u-image-1 {
  width: 52px;
  height: 52px;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  line-height: 1.2;
  font-size: 1.25rem;
  margin: -31px 24px 0;
}

.u-section-3 .u-image-2 {
  width: 83px;
  height: 117px;
  margin: -127px auto 0 calc(((100% - 1140px) / 2) + 440px);
}

.u-section-3 .u-image-3 {
  width: 71px;
  height: 71px;
  margin: -94px auto 0;
}

.u-section-3 .u-image-4 {
  width: 71px;
  height: 71px;
  margin: -71px calc(((100% - 1140px) / 2) + 452px) 33px auto;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 186px;
  }

  .u-section-3 .u-layout-cell-1 {
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    min-height: 237px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    margin-left: calc(((100% - 940px) / 2) + 440px);
  }

  .u-section-3 .u-image-4 {
    margin-right: calc(((100% - 940px) / 2) + 452px);
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 49px;
  }

  .u-section-3 .u-layout-cell-1 {
    order: 0;
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 50px;
    padding-left: 60px;
  }

  .u-section-3 .u-image-2 {
    margin-left: calc(((100% - 720px) / 2) + 440px);
  }

  .u-section-3 .u-image-4 {
    margin-right: calc(((100% - 720px) / 2) + 452px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 50px;
  }

  .u-section-3 .u-image-2 {
    margin-left: calc(((100% - 540px) / 2) + 440px);
  }

  .u-section-3 .u-image-4 {
    margin-right: calc(((100% - 540px) / 2) + 452px);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-container-layout-1 {
    padding-top: 50px;
  }

  .u-section-3 .u-image-2 {
    margin-left: calc(((100% - 340px) / 2) + 257px);
  }

  .u-section-3 .u-image-4 {
    margin-right: calc(((100% - 340px) / 2) + 269px);
  }
}